<nav class="SwitchOptions">
    <a routerlink routerLink="/alldepwin/">
        <img src="/assets/poc.png" height=84px; width=100px; class="icon" />
    </a>
    <a routerlink routerLink="/posSearch/">
        <mat-icon>search</mat-icon>
    </a>
    <br>
    <a routerlink routerLink="/alllikedcourses/">
        <mat-icon>favorite</mat-icon>
    </a>

    <br>
    <mat-icon>mail</mat-icon>
    <br>
    <mat-icon>shopping_cart</mat-icon>
    <br>
    <mat-icon> category</mat-icon>


    <a class="nav-link Logo" routerlink="/">
        <img src="..\assets\chslogo.png" class="icon" />
    </a>
</nav>

<!-- <app-poswindow></app-poswindow> -->
<router-outlet></router-outlet>