.POC-mat-dialog-container
{
    width: 100%;
    height: 100%;
    background-color:goldenrod;
    border: 15px solid blue;
    margin: 5px;
    padding: 0;
    vertical-align: top;
    display: inline-block;
    position: relative;
}

::ng-deep .mat-dialog-container {
    font-family: 'Viner Hand ITC';
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 10px;
    background-color: goldenrod;
    border: 5px dotted blue;
}

.POCDialog {
    margin: 10px;
    padding: 5px;
}

h1 {
    margin:5px;
    text-align: center;
}